body {
    background-color: #323580;
}

.container {
    color: #FFFFFF;
    text-align: center;
}

.container h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #DDCCEE;
    margin-top: 80px;
}

.container form {
    margin: 20px;
}

.container input {
    width: 350px;
    height: 15px;
    font-size: 14px;
    margin: 2px;
    padding: 10px;
}

.container button {
    width: 70px;
    height: 30px;
    background-color: turquoise;
    margin: 5px;
}

.container p {
    margin: 150px;
}